
<footer class="footer">
    <div class="social-icons">
        <a href="https://github.com/Nazeeh-K">
            <i class="bx bxl-github"></i>
        </a>
    </div>
    <ul class="list">
        <li>
            <a href="/">Portfolio</a>
        </li>
        <li>
            <a href="/#about">About</a>
        </li>
        <li>
            <a href="/#services">Services</a>
        </li>
        <li>
            <a href="/#applications">Applications</a>
        </li>
        <li>
            <a href="/#contact">Contact</a>
        </li>
    </ul>
    
    <p class="copyright">
        Design inpired by <span>{</span> <a href="https://github.com/HowtoWebDev" class="credits">HowtoWebDev</a> <span>}</span>
    </p>
</footer>   
<script src="../js/script.js"></script>
</body>


</html>