* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 70%;
    overflow-x: hidden;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #3599fd;
    --header-background: rgba(0, 0, 0, 0.3);
    --header-smaller-background: rgba(0, 0, 0, 0.8);
    --main-black: black;
    --main-white: white;
}
.darkmode {
    --bg-color: #ffffff;
    --second-bg-color: #bdbdbd;
    --text-color: rgb(0, 0, 0);
    --main-color: #00a308;
    --header-background: rgba(255, 255, 255, 0.3);
    --header-smaller-background: rgba(255, 255, 255, 0.8);
    --main-black: white;
    --main-white: black;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 12%;
    background: var(--header-background) ;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header-darkswitch {
    position: fixed;
    width: 60px;
    top: 2.5rem;
    left: 0;
    padding: 0rem 1rem;
    z-index: 100;
}
#theme-switch {
    height: 30px;
    width: 30px;
    padding: 0;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg {
    fill: var(--main-color);
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}
span {
    color: var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in;
}
.navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color)
}
section {
    min-height: 100vh;
    padding: 10rem 12%;
}
.home {
    align-items: center;
    justify-content: center;
}
.home-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 75vh;
    justify-content: center;
}
.home-welcome h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
}
#t-margin {
    margin-top: 3rem;
}
.home-welcome h3 {
    font-size: 4rem;
    margin: 1rem 0 2rem 0;
}
.home-welcome p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 1rem;
}
.home-blog h1 {
    font-size: 3rem;
    margin-top: 2rem;
}
.home-blog p {
    font-size: 1.5rem;
}
.home-blog a {
    color: var(--main-color);
    text-decoration: inherit;
}
.home-blog-post {
    border: 1px solid var(--main-color);
    width: 350%;
    border-radius: 2rem;
    justify-items: flex-start;
    padding-left: 1rem;
}
/* about */
.about {
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    background-color: var(--second-bg-color);
}
.about-weather {
    display: flex;
    justify-content: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}
/* btn */
.btn-group {
    display: flex;
    gap: 1.5rem;
}
.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: var(--main-black);
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                            0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2) {
    background-color: var(--main-black);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: var(--main-black);
}
/* contacts */
.contact {
    background-color: var(--second-bg-color);
}
.contact h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}
.contact form {
    margin: 0rem 0;
    text-align: center;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem;
    resize: none;
}
input:checked+p {
    text-decoration: line-through;
}
input[type="checkbox"] {
    margin: 20px;
    position: absolute;
    left: 31%;
}
#todo-title{
    /* justify-self: center; */
    font-size: 5rem;
    display: grid;
    justify-content: center;
}
.todo-item {
    border: 1px solid var(--main-color);
    font-size: 2rem;
    display: inline-grid;
    /* flex-wrap: wrap; */
    align-items: center;
    border-radius: 0.5rem;
    gap: 5px;
    height: 5rem;
    width: 50%;
    justify-content: center;
    justify-self: center;
}
/* scrollbar */
::-webkit-scrollbar {
    margin: 3rem 0;
    width: 10px;
    height: 100%;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
@media(max-width:1111px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 28%;
        padding: 1rem 3rem;
        background-color: var(--header-background);
        border-left: 2px solid var(--main-color);
        border-bottom: 1px solid var(--main-color);
        border-bottom-left-radius: 1rem;
        display: none;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active {
        display: block;
    }
}
@media(max-width:1024px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 28%;
        padding: 1rem 3rem;
        background-color: var(--header-background);
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        display: none;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar.active {
        display: block;
    }
    .home {
        flex-direction: column;
        margin: 5rem 0 0 0;
        gap: 2rem;
    }
    .home-welcome {
        align-items: center;
        text-align: center;
    }
    .home-blog {
        gap: 1rem;
    }
    .home-blog-post {
        border: 1px solid var(--main-color);
        width: 200%;
        border-radius: 2rem;
        justify-items: flex-start;
        padding-left: 1rem;
    }
}
@media(max-width:430px) {
    #theme-switch {
        height: 25px;
        width: 25px;
    }
    .header-darkswitch {
        left: 4px;
        top: 4.5rem;
    }
    .home-blog-post {
        border: 1px solid var(--main-color);
        width: 100%;
        border-radius: 2rem;
        justify-items: flex-start;
        padding-left: 1rem;
    }
}
@media(max-width:377px) {
    .header-darkswitch {
        padding-left: 1px;
    }
}